

<div class="attentiontag-floating-icon">
    <img src="{{{config.wwwroot}}}/blocks/attentiontag/pix/Deactivated.png" id="attentiontag-image-initial" class="attentiontag_bot" />
    <img src="{{{config.wwwroot}}}/blocks/attentiontag/pix/Wake_up.gif" id="attentiontag-image-after-permission" class="attentiontag_bot" style="display: none;" />
    <img src="{{{config.wwwroot}}}/blocks/attentiontag/pix/Happy.gif" id="attentiontag-image-happy" class="attentiontag_bot" style="display: none;" />
    <img src="{{{config.wwwroot}}}/blocks/attentiontag/pix/Sad.gif" id="attentiontag-image-sad" class="attentiontag_bot" style="display: none;" />
</div>

<div class="attentiontag-chat-box" style="display: none;">
    <div class="attentiontag-chat-message attentiontag-bot-message">
        <p>Hey, I am DART, your Buddy Learner! Would you like my help in your learning journey?</p>
        <div class="attentiontag-chat-options">
            <button id="attentiontag-btn-yes" class="attentiontag-chat-option btn btn-info">Yes</button>
            <button id="attentiontag-btn-no" class="attentiontag-chat-option  btn btn-dark">No</button>
        </div>
    </div>
</div>

<div class="attentiontag-message-box" style="display: none;">
    <div class="attentiontag-chat-message attentiontag-bot-message">
        <span class="attentiontag-close-button">&times;</span>
        <p>Seems like you're tired. Let's play a game!</p>
        <a href="https://dev.slamlabs.org/mod/page/view.php?id=6" class="attentiontag-game-link">Play Game</a>
    </div>
</div>
