
<div id="floating-icon-container"></div>
<div class="attentiontag-helper" id="attentiontag-visual-prompt-container"></div>
<div class="attentiontag-helper" id="attentiontag-auditory-cue-container"></div>
<div class="attentiontag-helper" id="attentiontag-chat-widget-container"></div>

